body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    background-image: url('img/back.jpg');
    align-items: center;
    height: 100vh;
    margin: 0;
}

.todo-container {
    background:whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    color: #333;
    
}

#todo-form {
    display: flex;
    justify-content: space-between;
}

#todo-form input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#todo-form button {
    padding: 10px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

#todo-form button:hover {
    background: #0056b3;
}

#todo-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.todo-item {
    background: #f9f9f9;
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-item.completed {
    text-decoration: line-through;
    color: #ccc;
}

.todo-item button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.todo-item button.complete-btn {
    color: green;
}

.todo-item button.edit-btn {
    color: orange;
}

.todo-item button.delete-btn {
    color: red;
}
